MiBeacon.xcodeproj/xcuserdata/sicong.qian.xcuserdatad/xcschemes/MiBeacon.xcscheme
MiBeacon.xcodeproj/xcuserdata/sicong.qian.xcuserdatad/xcschemes/xcschememanagement.plist
MiBeacon.xcodeproj/project.xcworkspace/xcshareddata/MiBeacon.xccheckout
MiBeacon.xcodeproj/project.xcworkspace/xcuserdata/sicong.qian.xcuserdatad/UserInterfaceState.xcuserstate
MiBeacon.xcodeproj/xcuserdata/sicong.qian.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
